.abzac {
    position: relative;
    top: -120px;
    left: 50px;

    color: white;
    font-size: 50px;
}

.img {
    background-image: url(../img/fuji.jpg);

    height: 354px;
    width: 691px;

    background-repeat: no-repeat;
    background-size: cover;
}

.semilayer {
    background: rgba(21, 24, 36, 0.4);
    height: 100%;
    width: 100%;
}